<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">{{EMPRESA}}</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/home">Início</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Cadastros
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/cliente/cadastro">Cadastro de cliente</a></li>
                        <li><a class="dropdown-item" href="/cliente/lista">Lista de cliente</a></li>
                        <li><a class="dropdown-item" href="/usuario/lista"> Lista de usuário</a></li>
                        <li><a class="dropdown-item" href="/usuario/cadastro">Cadastrar usuário</a></li>
                        <li><a class="dropdown-item" href="/fornecedor/lista">Lista de fornecedor</a></li>
                        <li><a class="dropdown-item" href="/fornecedor/cadastro">Cadastrar fornecedor</a></li>
                    </ul>
                </li>
        </div>
    </div>
</nav>

<style>
    body {
        background-color: black;
    }
</style>